body{
    font: arial, arial, helvetica;
    font-size: 12px;
    position: center;
    background-color: rgb(228, 232, 234);
}
div{
    background-color: rgb(44, 44, 44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top:70px; /* tamaho div */
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 70px;
    border-radius: 12px; /* grau de arredondamento borda */
    color: rgb(222, 222, 224);
    border: none;
}   
input{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    font: arial, arial, helvetica;
    
}
button{
    border: none;
    padding: 10px;
    background-color: rgb(148, 26, 26);
    width: 70%;
    border-radius: 20px;
    font: arial, arial, helvetica;
    font-size: 70%;
    color: antiquewhite;
    position: relative;
    left: 15%;
}
h1{
    text-align: center;
    font-size: 60%;
   font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
a{
    color: antiquewhite;
    position: relative;
    text-indent: 3%;
    align-items: center;
    left: 30%;
    font: times new roman; 
    font-size: 70%;
    color: rgb(187, 187, 187);

}